html {
	background-color: rgb(146,220,253);
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: rgb(254,254,254);
	margin: 0 auto;
	border-radius: 10%;
	

    height: 80%;	
    border-left-width: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;


  	background-clip: content-box, padding-box;

	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}