html {
	background-color: rgb(146,220,253);
	position: relative;
	width: 100%;
}

body {
	background-color: rgb(254,254,254);
	margin: 0 auto;


    height: 100%;
    border-left-width: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
	border-color: orange;


  	background-clip: content-box, padding-box;

	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding-bottom: 2%;
}
